body {
  background-color: #89CFF0;
  font-family: "CustomFont";
}

.topheader {
  text-align: center;
  color: #FFFFFF;
}

h1.topheader {
  font-size: 6vw;
  line-height: 80%;
}

h2.topheader {
  font-size: 3vw;
  line-height: 70%;
}

@font-face{ /* Allowing font to be used */
  font-family: "CustomFont";
  src: url('ChelaOne-Regular.ttf');
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #323299;
  color: #FFFFFF;
  font-family: "CustomFont";
}

p.footer {
  text-align: center;
  font-size: 1vw;
}
