body {
  background-color: #F0F8FF;
  font-family: "CustomFont";
}

.topheader {
  text-align: center;
  color: #DCDCDC;
}

h1.topheader {
  font-size: 20vw;
}

h2.topheader {
  font-size: 15vw;
}

@font-face{ /* Allowing font to be used */
  font-family: "CustomFont";
  src: url('ChelaOne-Regular.ttf');
}
