body {
  background-color: #89CFF0;
  font-family: "CustomFont";
}

.topheader {
  text-align: center;
  color: #FFFFFF;
}

h1.topheader {
  font-size: 25vw;
}

h2.topheader {
  font-size: 15vw;
}

@font-face{ /* Allowing font to be used */
  font-family: "CustomFont";
  src: url('ChelaOne-Regular.ttf');
}
